* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body{
    background-color: brown;
    perspective: 800px;
    
}

.circulo{
    background-color: aquamarine;
    height: 100px;
    width: 100px;
/*    border-radius: 50%;*/
    position: absolute;
    animation-name: identificador;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    
    animation: identificador 3s ease-in-out 1s infinite alternate forwards;
}

@keyframes identificador {
    0%{
        background-color: burlywood;
        border-radius: 0;
        top: 0;
        left: 0;
    }
    
    25%{
        background-color: #87dbde;
        top: 0;
        left: 80%;
    }
    
    33%{
        background-color: #de87db;
    }
    
    50%{
        top: 80vh;
        left: 80%;
    }
    
    75%{
        background-color: #ded187;
        top: 80vh;
        left: 0;
    }
    
    100%{
        background-color: chartreuse;
        border-radius: 50%;
        top: 0;
        left: 0;
    }
}

#play-state{
    padding: 5px;
    position: absolute;
    top: 40vh;
    left: 40%;
}

.play{
    animation-play-state: running;
}

.pause{
    animation-play-state: paused;
}