* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body{
    background-color: brown;
}

div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid rgba(165, 42, 42, 0.81);
    box-sizing: border-box;
    background-color: aqua;
    margin: 50% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div i{
    color: brown;
    transition: all .5s ease;
}

div:hover i{
    transform: skewX(23deg);
/*    transform-origin: 100% 100%;*/
}

