* {
    margin: 0;
    padding: 0;
}

section{
    height: 200px;
}

nav ul{
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    background-color: deeppink;
}

#section1{
    background-color: aqua;
}

#section2{
    background-color: coral;
}

#section3{
    background-color: blueviolet;
}

h1{
    text-align: center;
}

:root{
    background-color: teal;
    font-family: Helvetica;
}