* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body{
    background-color: #2a71a5;
    padding-top: 70px
}

header{
    margin-bottom: 50px;
    text-align: center;
    color: white;
}

header .caja2 p{
    font-size: 30px;
}

header .caja1 p{
    font-size: 20px;
}

section#contenido{
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

article{
    width: calc(33.33333% - 20px);
    background-color: azure;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

article h1{
    text-align: center;
    margin-bottom: 10px;
}

article p{
    text-align: justify;
    padding-top: 10px;
}

img{
    width: 100%;
}

/*
@media only print and (max-width: 600px){
    body{
        background-color: brown;
    }
}*/

@media ( max-width: 780px){
    article{
        width: calc(50% - 20px);
    }
}

@media ( max-width: 480px){
    article{
        width: 100%;
    }
}