* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
}

.d1{
    background-color: aqua;
    width: 100%;
    height: 50px;
}

.d2{
    background-color: aquamarine;
    width: 70%;
    height: 600px;
    float: left;
    position: relative;
}

.d3{
    background-color: chocolate;
    width: 30%;
    height: 600px;
    float: left;
}

.d4{
    background-color: dodgerblue;
    width: 100%;
    height: 50px;
}

.limpiador{
    clear: both;
}

[class^=i]{
    height: 100px;
}

.i1{
    border: 1px dashed red;
}

.i2{
    border: 1px dashed black;
    width: 30%;
    float: left;
    background-color: firebrick;
    position: absolute;
    top: 0px;
    left: 0px;
}

.i3{
    border: 1px dashed blue;
    width: 70%;
    float: right;
}

.i4{
    border: 1px dashed #7e680d;
}