* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body{
    background-color: brown;
}

#contenedor{
    height: 700px;
    display: flex;
    
    flex-flow: row nowrap;
/*
    align-items: baseline;
    align-content: flex-start;
*/
}

#contenedor div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    box-sizing: border-box;
}

p{
    font-size: 39px;
}

.uno{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}

.dos{
    flex-grow: 1;
    flex-shrink: 3;
    flex: 1 1 auto;
}

.tres{
    flex-grow: 2;
}

.cuatro{
    order: -1;
    flex-grow: 1;
    flex-shrink: 5;
}