* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body{
    background-color: brown;
    perspective: 800px;
}

.contenedor{
    cursor:pointer;
    width: 250px;
    height: 250px;
    margin: 20% auto;
    position: relative;
    transition: all 1s ease;
    
}

.contenedor div > img{
    width: 100%;
}

.front, .back{
    position: absolute;
}

.front{}

.contenedor:hover{
    transform: translate3d(50px,150px,200px);
}