* {
    margin: 0;
    padding: 0;
}

h1::before{
    content: 'Esta es la etiqueta ';
    font-size: 50px;
    color: firebrick;
    font-family: Helvetica;
}

h1::after{
    content: '.';
    font-size: 50px;
    color: firebrick;
}