* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

article > * {
    padding: 6px;
    margin: 2px;
    border: 1px solid #3282c7;
}

article li:nth-of-type(2n+3){
    background-color: aquamarine;
}